.indoved-logo {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.margin-y {
  margin: auto;
}

.about-us-section {
  padding-bottom: 20px;
}

.home-footer-section {
  background: #191919;
}

.text-black {
  color: black;
}

.text-grey {
  color: #b2b2b2;
}
